.bg-custom{
	background-color: #053B50;
}

.vbg{
	color: #EEEEEE!;
}

.vpri{
	color: #64CCC5!;
}

.vsec{
	color: #176B87!;
}

.v4{
	color: #053B50!;
}

/*
#eaeef5 : background
#cdba93 : summary
#e8ecd5 : secondary
#a85c4d : 4
*/